*.egg-info/
wandb/
checkpoints/
build/
dist/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
.DS_Store
syscaps/models/third_party/extensions/kernels/build
syscaps/models/third_party/extensions/kernels/dist
syscaps/models/third_party/extensions/kernels/__pycache__
syscaps/models/third_party/extensions/kernels/structured_kernels.egg-info
WORK.md
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
*/*/*/.ipynb_checkpoints
results/
notebooks/*.png
notebooks/*.pdf
notebooks/dev/
scripts/pemami/
scripts/data_generation/consolidate*
scripts/data_generation/resstock
